/* Estilo para a NAVBAR */
.navbar {
    background-color: transparent !important; /* Navbar transparente */
  }
  
  .navbar-nav .nav-link {
    color: #ffffff !important;     /* Cor branca para os links */
    margin: 0 15px;                /* Espaçamento horizontal entre os itens */
    font-weight: 500;
  }
  
  .navbar-nav .nav-link:focus,
  .navbar-nav .nav-link:active,
  .navbar-nav .nav-link.active {
    color: #0d6efd !important;     /* Azul quando o link está ativo/clicado */
  }
  
  /* Hero / Header */
  .hero {
    height: 100vh;
    background: url("../imgs/backgroudimg.png") no-repeat center center/cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  }
  
  .hero-subtitle {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hero-tagline {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .hero-btn {
    background-color: #3878FF !important;
    color: #ffffff !important;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .hero-btn:hover {
    background-color: #2e67da;
    color: #ffffff;
  }
  